@font-face {
    font-family: 'AkiraExpanded';
    src        : url('./fonts/AkiraExpanded-SuperBold.woff2') format('woff2'),
        url('./fonts/AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: 800;
    font-style : normal;
}

.content:hover {
    background-color: rgb(238, 238, 238);
    padding-left    : 10px;
}


/*** PHOTO ***/

#picture {
    overflow     : hidden;
    border-radius: 50%;
    height       : 200px;
    width        : 200px;
    margin-top   : 40px;
    margin-bottom: 30px;
    margin-left  : auto;
    margin-right : auto;
}

/*** FONTS, STYLE ET COULEURS ***/

#header,
#aside h2 {
    font-family: 'AkiraExpanded';
}

#aside,
#main {
    font-family: 'Titillium Web';
}

#header h1,
#hobbies i {
    font-size: 1.5em;
}


#aside,
.content {
    font-size: 0.85em;
}

#header p,
#aside h2,
.sectionTitle h2 {
    font-size: 1.1em;
}

#header,
#aside h2,
#main h2 {
    text-align    : center;
    text-transform: uppercase;
}

.blueUnderline {
    text-decoration      : underline;
    text-decoration-color: rgb(30, 136, 229);
}

#footer i:hover,
#main i,
.blueFont {
    color: rgb(30, 136, 229);
}

#header,
#aside h2,
#aside a:hover,
#aside i {
    color: whitesmoke;
}

#footer i,
#aside a {
    color: rgb(66, 66, 66);
}

#aside {
    background-color: rgb(30, 136, 229);
    justify-content : space-around;
}

#header,
#aside h2,
#aside i {
    background-color: rgb(66, 66, 66);
}

.content div:first-child {
    font-style: italic;
}

/*** MISE EN PAGE ***/

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.sectionTitle {
    align-items    : baseline;
    justify-content: center;
}

#hobbiesIcons {
    flex-wrap      : wrap;
    justify-content: space-around;
}

#aside i {
    display    : inline-flex;
    align-items: center;
}

#hobbies i {
    width        : 45px;
    height       : 45px;
    border-radius: 50%;
    margin       : 1.5%;
}

#contact i {
    width        : 30px;
    height       : 30px;
    border-radius: 25%;
    margin       : 2.5%;
}

.content-description {
    margin-left  : 53.5px;
    margin-top   : -15px;
    margin-bottom: 25px;
    padding-right: 20px;
}

#contact p {
    min-width   : 275px;
    max-width   : 300px;
    margin-left : auto;
    margin-right: auto;
}

#about p {
    text-align: justify;
}

/*** LISTES ***/


#main ul li {
    list-style-type: none;
    margin-left    : -40px;
}

#header,
#footer {
    padding: 20px;
}

#footer,
#aside i {
    justify-content: center;
}

#aside a,
#footer a {
    text-decoration: none;
}



.content i {
    margin-top  : 17.5px;
    margin-left : 20px;
    margin-right: 20px;
}

.sectionTitle i {
    margin-top  : 25px;
    margin-right: 12.5px;
    font-size   : 1.25em;
}

hr {
    margin-bottom: 30px;
}


/************************************************/
/*** tablettes et smartphones bascule d'écran ***/
/************************************************/

@media only screen and (min-width: 650px) {

    #header h1 {
        font-size: 2em;
    }

    #aside,
    .content {
        font-size: 1em;
    }

    #header p,
    #aside h2,
    .sectionTitle h2 {
        font-size: 1.25em;
    }

    .content {
        flex-direction: row;
    }

    .content div:first-child {
        min-width: 50%;
    }

    .content-description {
        margin-left: unset;
        margin-top : -5px;
    }

    .sectionTitle i {
        font-size   : 1.5em;
        margin-right: 20px;
        margin-top  : 30px;
    }

    #contact i {
        width    : 35px;
        height   : 35px;
        font-size: 1.1em;
    }

    #hobbies i {
        font-size: 1.7em;
        width    : 55px;
        height   : 55px;
    }

    .content i {
        margin-top: 21px;
    }

}

/*******************/
/*** ordinateurs ***/
/*******************/

@media only screen and (min-width: 1000px) {

    #pageContent {
        flex-direction: row;
        flex-wrap     : wrap;
    }

    #header,
    #main {
        width        : 100%;
        padding-left : unset;
        padding-right: unset;
    }

    #aside {
        order   : 1;
        width   : 30%;
        height  : 100%;
        position: sticky;
        top     : 0px;
    }

    #rightColumn {
        order       : 2;
        width       : 60%;
        margin-left : auto;
        margin-right: auto;
    }

    #header {
        order           : 2;
        text-align      : left;
        color           : rgb(66, 66, 66);
        background-color: unset;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #header h1 {
        font-size: 3em;
    }

    #header p {
        font-size: 2em;
    }

    hr {
        margin-top: -15px;
    }

    .sectionTitle h2 {
        font-size: 1.5em;
    }

    .sectionTitle {
        justify-content: left;

    }

    .content i {
        margin-left: unset;
    }

    #footer {
        order          : 3;
        justify-self   : end;
        width          : 100%;
        justify-content: end;
    }

}

@media only screen and (min-width: 1400px) {

    #aside {
        width: 20%;
    }
}