@font-face {
    font-family: 'AkiraExpanded';
    src        : url('./fonts/AkiraExpanded-SuperBold.woff2') format('woff2'),
        url('./fonts/AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: 800;
    font-style : normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.textAlignRight {
    text-align: right;
}

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

#header,
#informations h2,
#footer,
#content,
#informations {
    width: 100%;
}

#experience table {
    width: 85%;
}

#header {
    align-items: center;
    position   : sticky;
    top        : 0;
}

#header h1 {
    font-size: 1.5em;
}

#header p,
#informations h2,
#footer a {
    font-size: 1em;
}

#header p,
#informations h2,
#contact a,
#footer a,
.whiteFont,
i.fas {
    color: whitesmoke;
}

#contact a:hover,
#footer a:hover,
#header h1 {
    color: rgb(30, 136, 229);
}

#header,
#informations h2,
footer {
    font-family: 'AkiraExpanded';
}

#informations {
    background-color: rgb(30, 136, 229);
}

#hobbiesIcons {
    flex-wrap      : wrap;
    justify-content: space-around;
}

#header,
#informations h2,
footer,
#contact i.fas,
#hobbies i.fas {
    background-color: rgb(66, 66, 66);
}

#contact i.fas,
#hobbies i.fas {
    display        : inline-flex;
    justify-content: center;
    align-items    : center;
}

#contact i.fas {
    width        : 30px;
    height       : 30px;
    border-radius: 25%;
    margin       : 20px;
}

#hobbies i.fas {
    width        : 65px;
    height       : 65px;
    border-radius: 50%;
}

#informations h2,
#content h2 {
    text-align: center;
}

#content p,
#informations p {
    padding-left : 10px;
    padding-right: 10px;
    text-align   : justify;
}

#experience table,
#formation ul,
#picture {
    margin-left : auto;
    margin-right: auto;
}

#header h1,
#hobbiesIcons,
#footer {
    padding: 20px;
}

#picture {
    overflow     : hidden;
    border-radius: 50%;
    height       : 250px;
    width        : 250px;
    margin-top   : 15px;
}

#contact a,
#footer a {
    text-decoration: none;
}

#experience,
#formation,
#skills,
#informations {
    font-family: 'Titillium Web';
}


#footer {
    justify-content: center;
}

#footer a {
    display    : block;
    margin-left: -40px;
}

/* tablettes */

@media only screen and (min-width: 768px) {}

/* ordinateurs */

@media only screen and (min-width: 1200px) {}