@font-face {
    font-family: 'AkiraExpanded';
    src        : url('./fonts/AkiraExpanded-SuperBold.woff2') format('woff2'),
        url('./fonts/AkiraExpanded-SuperBold.woff') format('woff');
    font-weight: 800;
    font-style : normal;
}

/* .content:hover {
    background-color: rgb(238, 238, 238);
    padding-left    : 10px;
} */


/*** PHOTO ***/

#picture {
    overflow     : hidden;
    border-radius: 50%;
    height       : 250px;
    width        : 250px;
    margin-top   : 20px;
    margin-left  : auto;
    margin-right : auto;
}

/*** FONTS, STYLE ET COULEURS ***/

#header,
#informations h2,
footer {
    font-family: 'AkiraExpanded';
}

#mainContent {
    font-family: 'Titillium Web';
}

#header h1 {
    font-size: 1.5em;
}

#header p,
#informations h2,
.sectionTitle h2 {
    font-size: 1.2em;
}

#informations,
#footer a,
.content {
    font-size: 0.85em;
}

#header,
#mainContent h2 {
    text-align    : center;
    text-transform: uppercase;
}

.blueUnderline {
    text-decoration      : underline;
    text-decoration-color: rgb(30, 136, 229);
}

#header,
#informations h2,
#informations a:hover,
#footer a,
#informations i.fas,
#contact i.fab {
    color: whitesmoke;
}

#footer a:hover,
#sectionContent i.fas,
#sectionContent i.far,
.blueFont {
    color: rgb(30, 136, 229);
}

#informations a {
    color: rgb(66, 66, 66);
}

#informations,
#sectionContent li::before {
    background-color: rgb(30, 136, 229);
}

#header,
#informations h2,
footer,
#contact i.fas,
#hobbies i.fas,
#contact i.fab {
    background-color: rgb(66, 66, 66);
}

.content div:first-child {
    font-style: italic;
}

/*** MISE EN PAGE ***/

.container {
    display: flex;
}

.column {
    flex-direction: column;
}

.sectionTitle {
    align-items    : baseline;
    justify-content: center;
}

#hobbiesIcons {
    flex-wrap      : wrap;
    justify-content: space-around;
}

#contact i.fas,
#contact i.fab,
#hobbies i.fas {
    display    : inline-flex;
    align-items: center;
}

#contact i.fas,
#contact i.fab {
    width        : 30px;
    height       : 30px;
    border-radius: 25%;
    margin       : 20px;
}

#hobbies i.fas {
    width        : 65px;
    height       : 65px;
    border-radius: 50%;
}

.content-description {
    margin-left  : 39px;
    margin-top   : -15px;
    margin-bottom: 25px;
    padding-right: 20px;
}

#about p {
    margin    : 5%;
    text-align: justify;
}

/*** LISTES ***/

#sectionContent ul li {
    list-style-type: none;
    margin-left    : -20px;
}

#sectionContent ul ul li {
    margin-left: -40px;
}

#hobbiesIcons,
#footer {
    padding: 20px;
}

#footer,
#contact i.fas,
#hobbies i.fas,
#contact i.fab {
    justify-content: center;
}

#footer a {
    display    : block;
    margin-left: -12.5px;
}

#informations a,
#footer a {
    text-decoration: none;
}

#sectionContent i.fas,
#sectionContent i.far {
    padding-top : 22px;
    margin-right: 10px;
}


/************************************************/
/*** tablettes et smartphones bascule d'écran ***/
/************************************************/

@media only screen and (min-width: 650px) {

    #header h1 {
        font-size: 2.5em;
    }

    #header p,
    #informations h2,
    .sectionTitle h2 {
        font-size: 1.5em;
    }

    #informations,
    #footer a,
    .content {
        font-size: 1em;
    }

    .content {
        flex-direction: row;
    }

    .content div {
        width: 50%;
    }

    #informations {
        min-width: 35%;
    }

    #contact p {
        width       : 325px;
        margin-left : auto;
        margin-right: auto;
    }

    .content-description {
        margin-left  : unset;
        margin-top   : unset;
        margin-bottom: unset;
    }

    #sectionContent i.fas,
    #sectionContent i.far {
        margin-right: 20px;
    }
}

/*******************/
/*** ordinateurs ***/
/*******************/

@media only screen and (min-width: 1200px) {

    #mainContent,
    .content {
        flex-direction: row;
    }

    #header {
        width           : 100%;
        height          : 200px;
        color           : rgb(66, 66, 66);
        background-color: unset;
        margin-bottom   : 2.5%;
    }

    #header h1 {
        font-size: 3.5em;
    }

    #header p {
        font-size: 2.5em;
    }

    #header h1,
    #header p,
    #sectionContent h2 {
        text-align: left;
    }

    #contact p {
        width: 100%;
    }

    #informations {
        min-width: unset;
        max-width: 25%;
        position : sticky;
        top      : 0;
        height   : 100%;
    }

    #sectionContent {
        margin     : 1.5%;
        margin-left: 7.5%;
        order      : 2;
        width      : auto;
    }

    .sectionTitle {
        justify-content: start;
    }

    #sectionContent ul li {
        margin-left: -40px;

    }

    .content-description{
        margin-left: -75px;
    }

}